/*-----------------PASSWORD-------------------*/
.input-confirm-password {
  display: grid;
  grid-template: 1fr 1fr / 25rem 1fr;
  grid-template-areas: "label show" "input input";
}

.input-confirm-password .label-for-input {
  grid-area: label;
}

.input-confirm-password .input-for-label {
  grid-area: input;
}

.input-confirm-password .checkbox-show-password {
  grid-area: show;
  justify-self: end;
}
