/*-----------------PASSWORD-------------------*/
.input-confirm-password {
  width: 60rem !important;
  margin-left: 2rem !important;
  display: grid !important;
  grid-template: 1fr 1fr / 25rem 1fr !important;
  grid-template-areas: "label show" "input input" !important;
}

.input-confirm-password .label-for-input {
  grid-area: label !important;
}

.input-confirm-password .input-for-label {
  grid-area: input !important;
}

.input-confirm-password .checkbox-show-password {
  grid-area: show !important;
  justify-self: end !important;
}
