/* ===============================================
BUTTON HELP
=================================================*/
.button-help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  background-color: transparent !important;
  border: 1px solid var(--contrast) !important;
  border-radius: 25px !important;

  cursor: pointer !important;

  width: max-content !important;

  margin: 1rem !important;
  padding: 0.1rem !important;

  font-size: 1.6rem !important;
}

.question-icon {
  color: var(--contrast) !important;
  font-size: 2.5rem;
}

.help-detail {
  display: none !important;
  padding: 0 1rem !important;
  color: var(--contrast) !important;
}

.button-help:hover .help-detail {
  display: inline !important;
}
