/* ===============================================
MANAGE CATEGORIES' TOOLBARS
=================================================*/
.form.toolbars.categories {
  width: 90%;

  background-color: var(--accent);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.form.toolbars.categories .sort {
  border: none;
  border-right: 1px solid var(--main);
}

.form.toolbars.categories .search {
  border: none;
  padding: 0.5rem 0 0.5rem 2rem;
}

.form.toolbars.categories .button-standard {
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}
