/* ===============================================
HEADER
=================================================*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  background-color: var(--accent);
  box-shadow: -1px 1px 2px 0px grey;
}

header .logo-container h1 {
  padding: 0 1rem;
  font-family: "Forum", serif;
  font-size: 3rem;
}

header .logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  box-shadow: -1px 1px 2px 0px black;
}

header .profile-container .buttons-container {
  position: absolute;
  top: 85px;
  right: 10px;
  padding: 1rem;
  z-index: 5;

  background-color: var(--accent);
  border-radius: 5px;
  box-shadow: -1px 1px 2px 0px grey;
}

header .profile-container button#show-profile-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-image: url(/public/images/profile.png);
  box-shadow: -1px 1px 2px 0px black;
}

header .profile-container button#show-profile-menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  object-fit: cover;
}
