/*=============================================
INPUT FILE CUSTOM
===============================================*/
.input-file-custom-container {
  width: 100% !important;
  place-content: center !important;
}

.input-file-custom input[type="file"] {
  display: none !important;
}

.input-file-custom {
  cursor: pointer !important;

  font-family: "B612", sans-serif !important;
  font-size: 1.6rem !important;
  color: var(--contrast) !important;
}
