/* ===============================================
CATEGORIES AND PRODUCTS (CNP) TABLE ROW
=================================================*/
tr.cnp-table {
  cursor: pointer;

  width: 70%;
  padding: 1.5rem 0;
  margin-bottom: 2rem;

  border-radius: 3px;
  border: 1px solid var(--accent);

  transition: all 0.3s ease-in-out;
}

tr.cnp-table.headrow {
  font-weight: bold;
}

tr.cnp-table td {
  padding: 1.5rem 3rem;
  display: flex;
  place-content: center;
  place-items: center;
}

/*---------------------TD----------------------*/

tr.cnp-table td.name {
  /* flex-grow: 3; */
  flex-basis: 40%;
}

tr.cnp-table td.date {
  /* flex-grow: 2; */
  flex-basis: 25%;
}

tr.cnp-table td.with-border {
  border-right: 1px solid var(--accent);
}

/*--------------------COLORS--------------------------*/
tr.cnp-table.bodyrow-light {
  background-color: transparent;
}

tr.cnp-table.bodyrow-dark {
  background-color: rgba(201, 173, 167, 0.3);
}

tr.cnp-table.headrow {
  background-color: var(--accent);
}

tr.cnp-table.headrow td.with-border {
  border-right-color: var(--contrast);
}

tr.cnp-table.bodyrow-light:hover,
tr.cnp-table.bodyrow-light:active,
tr.cnp-table.bodyrow-dark:hover,
tr.cnp-table.bodyrow-dark:active {
  background-color: var(--contrast);
  color: var(--main);
}

tr.cnp-table.bodyrow-light:hover td.with-border,
tr.cnp-table.bodyrow-light:active td.with-border,
tr.cnp-table.bodyrow-dark:hover td.with-border,
tr.cnp-table.bodyrow-dark:active td.with-border {
  border-right-color: var(--main);
}
