/*=============================================
FORM LOGIN
==============================================*/
.form.login .input-submit-container {
  margin-top: 12rem;
}

.form.login .error-container.data,
.form.login .error-container.password {
  width: 60rem;
  padding: 1rem;
}

.form.login .error-container.password {
  margin-top: 12rem;
}

.form.login .error-container.data .modal-default-text,
.form.login .error-container.password .modal-default-text {
  width: 100%;
}
