/*=============================================
FORM LOGIN
==============================================*/
.form.login .input-submit-container {
  margin-top: 12rem;
}

.form.login .error-container {
  width: 65rem;
}

.form.login .error-container.password {
  margin-top: 10rem;
}

.form.login .error-container.password .modal-default-text {
  margin: 0;
}
