/* ===============================================
FORM ADD CATEGORY
=================================================*/

.form.add-category .input-submit-container {
  width: 60rem;
  padding: 2rem;
  justify-content: space-between;
}

.form.add-category .input-submit-container {
  margin: 0;
  width: 60rem;
  padding: 1rem;
  margin-top: 2rem;
}

.form.add-category .error-container.add-category-name {
  width: 60rem;
  padding: 1rem;
}

.form.add-category .error-container .modal-default-text {
  width: 100%;
}
