/* ===============================================
FORM ADD PRODUCT
=================================================*/
.form.add-product {
  margin-top: 2rem;
}

.form.add-product .add-product-image-container {
  width: 60rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.form.add-product .input-file-custom-container {
  margin: 0;
}

.form.add-product .input-submit-container {
  min-width: 60rem;
  padding: 1rem;
  justify-content: space-between;
}

.form.add-product .input-submit-container .input-submit {
  margin-bottom: 2rem;
}
