/* ===============================================
PRODUCT IMAGE PREVIEW
=================================================*/

.product-image-preview {
  padding: 2rem;
  place-content: center;
  place-items: center;

  background-color: var(--main);
}

.product-image-preview img {
  object-fit: cover;
  box-shadow: -3px 3px 4px 0px grey;
}
.product-image-preview.rectangle img {
  /* max-width: 100%;
  max-height: 90%; */
  width: 400px;
  height: 300px;

  border-radius: 3px;
}

.product-image-preview.circle img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}
