/* ===============================================
PRODUCT IMAGE PREVIEW
=================================================*/

.image-container {
  padding: 2rem;
  place-content: center;
  place-items: center;

  background-color: transparent;
}

.image-container img {
  object-fit: cover;
  box-shadow: -3px 3px 4px 0px grey;
}
.image-container.rectangle img {
  width: 400px;
  height: 300px;

  border-radius: 3px;
}

.image-container.circle img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}
