/*=============================================
INPUT TOOLBAR SORT
===============================================*/
.label-for-select {
  font-weight: bold !important;
  font-size: 1.6rem !important;
}

.input-toolbar-sort select {
  cursor: pointer !important;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent !important;
  color: var(--contrast) !important;
  font-size: 1.6rem !important;

  border: none;
  border-top: 1px solid var(--main) !important;
  border-bottom: 1px solid var(--main) !important;
}

.input-toolbar-sort .radios-container {
  padding-right: 0.5rem !important;
}

.input-toolbar-sort .radio-container label {
  font-size: 1.6rem !important;
  margin-left: 1rem !important;
  text-align: center !important;
}

.input-toolbar-sort input[type="radio"]#sortAsc,
.input-toolbar-sort input[type="radio"]#sortDesc {
  cursor: pointer;

  width: 2rem !important;
  height: 2rem !important;
  margin-left: 0.5rem !important;

  border-color: var(--main) !important;
  background-color: var(--accent) !important;
}
