/* ===============================================
FORM ADD CASHIER
=================================================*/
/* .form.add-cashier {
  padding: 5rem 0;
} */

.form.add-cashier .disclaimer {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  font-style: italic;
}

.form.add-cashier .input-submit-container {
  min-width: 60rem;
  padding: 1rem;
  justify-content: space-between;
}

.form.add-cashier .input-submit-container .button-standard {
  margin: 0;
  margin-right: 2rem;
}

.form.add-cashier .input-submit-container .input-submit {
  margin: 0;
  margin-left: 2rem;
}

.form.add-cashier .error-container.add-cashier-email,
.form.add-cashier .error-container.add-cashier-username {
  width: 60rem;
  padding: 1rem;
}

.form.add-cashier .error-container .modal-default-text {
  width: 100%;
}

.form.add-cashier .input-submit-container .button-standard {
  margin: 0;
}

.form.add-cashier .input-submit-container .input-submit {
  margin-bottom: 2rem;
}
