/*===============================================
PAGE RESET(OR SAVE) PASSWORD
===============================================*/
.page.reset-password .welcome {
  margin-top: 6rem;
}

.page.reset-password form.reset-password {
  padding: 12rem 0;
}

.page.reset-password .nav-to-reset-password-page .link-to-reset-password-page {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--accent);
  padding: 0.5rem 1rem;
}
