/*-----------------PASSWORD-------------------*/
.input-password {
  height: 45px;
  display: grid;
  grid-template: 1fr 1fr / 25rem 1fr 1fr;
  grid-template-areas: "label help show" "input input input";
}

.input-password .label-for-input {
  grid-area: label;
}

.input-password .button-help {
  grid-area: help;
}

.input-password .input-for-label {
  grid-area: input;
}

.input-password .checkbox-show-password {
  grid-area: show;
  justify-self: end;
}

.input-password .guides-container {
  position: relative;
}
