/*-----------------PASSWORD-------------------*/
.input-password {
  width: 60rem !important;
  height: 45px !important;
  display: grid !important;
  grid-template: 1fr 1fr / 25rem 1fr 1fr !important;
  grid-template-areas: "label help show" "input input input" !important;

  padding: 3rem 1rem !important;
}

.input-password .label-for-input {
  grid-area: label !important;
}

.input-password .button-help {
  grid-area: help !important;
}

.input-password .input-for-label {
  grid-area: input !important;
}

.input-password .checkbox-show-password {
  grid-area: show !important;
  justify-self: end !important;
}

.input-password .guides-container {
  position: relative !important;
  z-index: 2 !important;
}
