/*--------------------------------------------------
[NOTES] FONT FAMILIES (and their fallback font family)
----------------------------------------------------
font-family: 'Forum', serif;
font-family: 'B612', sans-serif;
---------------------------------------------------*/

/*--------------------------------------------------
IMPORT FROM EXTERNAL SOURCES
---------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Forum&display=swap");

/*--------------------------------------------------
IMPORT FROM INTERNAL SOURCES (from "./globalStyles")
---------------------------------------------------*/
@import "./globalStyles/animations.css";
@import "./globalStyles/customToolbar.css";

/*--------------------------------------------------
BASIC CONFIGURATIONS
---------------------------------------------------*/
/* theme */
:root {
  --main: #f2e9e4;
  --contrast: #22223b;
  --accent: #c9ada7;
  --warning: #993d05;
}

/* box-sizing config */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* for rem unit, 1 rem = 10pt */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* default font and size */
body {
  font-family: "B612", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  background-color: var(--main);
}

/* use this class to give more details about something that has visual information only */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*--------------------------------------------------
MISC.
---------------------------------------------------*/
.bold {
  font-weight: bold;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
