/* ===============================================
MANAGE CASHIERS' & MANAGE PRODUCTS' TOOLBARS
=================================================*/
.form.toolbars.products {
  flex-wrap: wrap;
  width: 97%;
  background-color: var(--accent);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.form.toolbars.products .sort {
  border: none;
  margin-right: 0.5rem;
}

.form.toolbars.products .filter {
  padding: 0;
  padding-right: 0.5rem;
  border: none;
  border-right: 1px solid var(--main);
  border-left: 1px solid var(--main);
}

.form.toolbars.products .filter .input-toolbar-select {
  margin: 0 0.5rem;
}

.form.toolbars.products .search {
  border: none;
  padding: 0.5rem;
}

.form.toolbars.products .button-standard {
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  margin: 0 0.5rem;
}
