/*===============================================
PAGE LOGIN
===============================================*/
.page.login {
  padding-bottom: 5rem;
}

.page.login form.login {
  padding: 4rem 0;
}

.page.login .nav-to-reset-password-page .link-to-reset-password-page {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--accent);
  padding: 0.5rem 1rem;
}
